@import "_variables", "_styles";

.my-contact {
  padding-top: 93px;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  

  @media (min-width: 992px) {
    
  }

  &-title {
    margin: 0;
    font-size: 34px;
    line-height: 71px;
    font-weight: 500;
    letter-spacing: 0.25px;
    @media (min-width: 992px) {
      font-size: 60px;
    line-height: 40px;
    font-weight:700;
    letter-spacing: -0.5px;
    
    
    }
  }

  &-description {
    margin: 16px 16px 24px 16px;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1px;
    text-align: center;
    font-weight: 500;
    

    @media (min-width: 992px) {
      font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
    
    }
    
  }

  &-form {
    background: #26292d;
    border-radius: 8px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;
    @media (min-width: 992px) {
     padding: 0px ;
     display: inline-block;
     
    }

    &-text {
      margin: 24px 0 8px 24px;
      display: inline-block;
    }

    &-input {
      margin-left: 24px;
      display: inline-block;
      width: 280px;
      height: 60px;
      border-radius: 8px;
      padding: 0px;
      background-color: #1c1e22;
      border: 1px solid #a0a0a1;
      text-indent: 20px;
      color: #a0a0a1;
      letter-spacing: 0.44px;
      font-size: 16px;
      line-height: 28px;


      @media (min-width: 992px) {
        width: 399px;
       
      }

    }
  }

  .input__height {
    padding-bottom: 106px ;
    @media (min-width: 992px) {
      padding-bottom: 150px ;
    

    }
  }
}
