@import "_variables", "";


.navbar-links {
    display: flex;
    gap: 40px;    
    flex-direction: column;
    margin-top: 89.5px;
    margin-left: 16px;
    


    &-link {
      color: white;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      
      
      font-family: 'Roboto', sans-serif;
      
    }
}